[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=OpenApp

# A comment which can/will be used as a tooltip
Comment=Start Application

# The path to the folder in which the executable is run
Path=/home/app_thai

# The executable of the application.
Exec=sh -c "sudo docker-compose up -d; sleep 5; chromium-browser --kiosk http://localhost:8080; exit;"

# The name of the icon that will be used to display this entry
Icon=/home/app_thai/launch/icons/start.png

# Describes whether this application needs to be run in a terminal or not
Terminal=true

# Describes the categories in which this entry should be shown
Categories=Education;Languages;Java;
