/*
azul: #3f51b5 indigo
rosa: #ff4081 pink accent-2
*/
.pink_color{
    color:#ff4081;
}
.indigo_color{
    color:#3f51b5!important;
}
.indigoL1_color{
     color: #5c6bc0;
 }
.zero{color: #00e676;}
.negative{color: #ff4081;}
.positive{color: #3f51b5;}
/* label color
.input-field label {
    color: #000;
}
*/
/* label focus color
.input-field input[type=text]:focus + label {
    color: #3f51b5;
}

/* label underline focus color
.input-field input[type=text]:focus {
    border-bottom: 1px solid #3f51b5;
    box-shadow: 0 1px 0 0 #3f51b5;
}
/* valid color
.input-field input[type=text].valid {
    border-bottom: 1px solid #3f51b5;
    box-shadow: 0 1px 0 0 #3f51b5;
}
/* invalid color
.input-field input[type=text].invalid {
    border-bottom: 1px solid #ff4081;
    box-shadow: 0 1px 0 0 #ff4081;
}
/* icon prefix focus color
.input-field .prefix.active {
    color: #000;
}
*/
