
/* padding*/
.pdtop-12{
    padding-top: 12px;
}
.pd-10{
    padding-bottom: 10px;
}
.pb-40{
    padding-bottom: 40px!important;
}
/* margin*/
.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
}
.ml-20{
    margin-left: 20px;
}
.mr-20{
    margin-right: 20px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-60{
    margin-bottom: 60px;
}

/* button price item */
.btn_price{
    right: 30px;
    bottom: 30px;
    text-align: center;
    font-weight: bold;
}
/* button edit item colapsed */
.button_edit{
    position: absolute;
    bottom: 20px;
}

.button_action_flat{
    background: none;
    border: none;
    padding: 6px 10px 0;
}

.no-border{
    border:none;
}
/* all */
ul{
    margin:0!important;
}

/* EDIT MATERIALIZE MIN CSS*/
.container{
    min-width: 98%;
}

/* NAV LEFT ADMIN */
.admin-nav{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.admin-nav ul a{
    color: #3f51b5;
}
.admin-nav ul i{
    color: #3f51b5;
}
.sidenavAdmin{
    padding-top: 20px;
}
.sidenavAdmin a{
    text-decoration: none;
    padding: 10px;
    display: block;
}

/* BUTTON ADD + */
.addfixed{
    position: fixed;
    bottom: 40px;
    left: 16px;
}

/* format img products services */
.box-product .card .card-image {
    height: 150px;
    overflow: hidden;
}
.card .card-image img {
    min-height: 100%;
}
.img_detail_product{
    width: 80px;
    max-height: 100px;
}
